src/main/mule/customers-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="customers-api-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="customers-api-config" api="resource::c4f668c6-4fc2-449b-ba9b-6e20a7dc7f82:customers-api:1.0.3:raml:zip:customers-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customers-api-main">
        <http:listener config-ref="customers-api-httpListenerConfig" path="${api.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<flow-ref doc:name="circuit-breaker-retrieve-status-sub-flow" doc:id="994b4958-3669-4a54-b1bb-fc8c906a66f9" name="circuit-breaker-retrieve-status-sub-flow" target="cbStatus"/>
		<choice doc:name="Choice" doc:id="d8275040-9054-498c-8b3b-22cc39ac3da5" >
			<when expression='#[vars.cbStatus == "closed"]'>
				<apikit:router config-ref="customers-api-config" />
			</when>
			<when expression='#[vars.cbStatus == "half-open"]'>
				<apikit:router doc:name="APIkit Router" doc:id="f6ab7954-229d-473a-a1ce-68722d93152c" config-ref="customers-api-config" />
				<set-variable value="closed" doc:name="cbStatus" doc:id="7e1fdd86-42fa-467f-8266-1d891811cc0c" variableName="cbStatus"/>
				<flow-ref doc:name="circuit-breaker-store-status-sub-flow" doc:id="5459afb5-bed7-4467-8772-563cc333590c" name="circuit-breaker-store-status-sub-flow" />
			</when>
			<otherwise>
				<raise-error doc:name="APP:SERVICE_UNAVAILABLE" doc:id="240e1c1c-3ca9-410e-af74-971a3d9ebbb4" type="APP:SERVICE_UNAVAILABLE" description="The API is not available to handle new requests at the moment"/>
			</otherwise>
		</choice>
		<error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="customers-api-console">
        <http:listener config-ref="customers-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customers-api-config" />
        <error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="put:\customers\(customerId):application\json:customers-api-config">
        <logger level="INFO" doc:name="Updating customer" doc:id="904351da-27af-4dca-8da9-4047d6cf992b" message="#[&quot;Updating Customer with ID &quot; ++ (attributes.uriParams.customerId default &quot;&quot;)]" />
        <flow-ref doc:name="impl-put-customer-by-id-flow" doc:id="5a5a5e06-e3df-40ba-a470-04f41afcac00" name="impl-put-customer-by-id-flow" />
        <logger level="INFO" doc:name="Customer updated" doc:id="a0c2d4fd-87ed-4135-abb3-9608ee784cd7" message="#[&quot;Customer with ID &quot; ++ (vars.customerId default &quot;&quot;) ++ &quot; updated successfully&quot;]" />
    </flow>
    <flow name="get:\customers\(customerId):customers-api-config">
        <logger level="INFO" doc:name="Retrieving Customer" doc:id="13f0f56f-e743-4973-b3ac-bb74b2ad0a2a" message="#[&quot;Retrieving Customer with ID &quot; ++ (attributes.uriParams.customerId default &quot;&quot;)]" />
        <flow-ref doc:name="impl-get-customer-by-id-flow" doc:id="4e04febc-8e1c-4c2d-a39b-b7a6c2903e00" name="impl-get-customer-by-id-flow" />
        <logger level="INFO" doc:name="Customer Retrieved" doc:id="4fbb7059-d538-4bf1-a6c3-5bb338355c33" message="#[&quot;Customer with ID &quot; ++ (vars.customerId default &quot;&quot;) ++ &quot; retrieved successfully&quot;]" />
    </flow>
    <flow name="post:\customers:application\json:customers-api-config">
        <logger level="INFO" doc:name="Creating Customer" doc:id="d3c225d9-6607-4a58-b607-299b620af169" message="#[&quot;Creating new Customer&quot;]" />
        <flow-ref doc:name="impl-post-customer-flow" doc:id="ba56575c-7173-4f6d-9232-6ea505dec945" name="impl-post-customer-flow" />
        <logger level="INFO" doc:name="Customer Created" doc:id="c9cca391-e69b-4ae4-841e-7a08575b0ffe" message="#[&quot;Customer with ID &quot; ++ (vars.customerId default &quot;&quot;) ++ &quot; created successfully&quot;]" />
    </flow>
</mule>
