src/main/mule/customers-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="customers-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="customers-api-config" api="resource::c4f668c6-4fc2-449b-ba9b-6e20a7dc7f82:customers-api:1.0.1:raml:zip:customers-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customers-api-main">
        <http:listener config-ref="customers-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customers-api-config" />
		<error-handler ref="apikit-error-handler" />
    </flow>
    <flow name="put:\customers:application\json:customers-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerId: "4d4de7d6-7f5e-4778-9c70-babba6c25c55",
  personalInformation: {
    firstName: "Ulrich",
    lastName: "Nielsen",
    companyName: "E-ffoc",
    email: "ulrichN@effoc.com",
    phone: "+494341927420",
    address: [
      {
        street: "Steinbrueckstrasse",
        houseNumber: 114,
        city: "Nuremberg",
        country: "Germany",
        postalCode: 90408
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerId):customers-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customerId">attributes.uriParams.'customerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerId: "4d4de7d6-7f5e-4778-9c70-babba6c25c55",
  personalInformation: {
    firstName: "Ulrich",
    lastName: "Nielsen",
    companyName: "E-ffoc",
    email: "ulrichN@effoc.com",
    phone: "+494341927420",
    address: [
      {
        street: "Steinbrueckstrasse",
        houseNumber: 114,
        city: "Nuremberg",
        country: "Germany",
        postalCode: 90408
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers:application\json:customers-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerId: "4d4de7d6-7f5e-4778-9c70-babba6c25c55",
  personalInformation: {
    firstName: "Ulrich",
    lastName: "Nielsen",
    companyName: "E-ffoc",
    email: "ulrichN@effoc.com",
    phone: "+494341927420",
    address: [
      {
        street: "Steinbrueckstrasse",
        houseNumber: 114,
        city: "Nuremberg",
        country: "Germany",
        postalCode: 90408
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
