src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="impl-put-customer-by-id-flow" doc:id="e4347b83-a0b6-41bf-878d-7cadbcc03c0c">
		<set-variable value="#[attributes.uriParams.'customerId']" doc:name="customerId" doc:id="30414934-7b0e-4e46-afe7-9a63b6afe0f0" variableName="customerId" />
		
	</flow>
	<flow name="impl-get-customer-by-id-flow" doc:id="a85225ed-c929-4caa-922f-16c14d2d9f14" >
		<set-variable value="#[attributes.uriParams.'customerId']" doc:name="customerId" doc:id="6078332a-47c6-42b3-8541-a4ccea37be82" variableName="customerId"/>
	</flow>
	<flow name="impl-post-customer-flow" doc:id="e008a3ac-ca59-4119-a1b2-44f39b4a7e69">
	</flow>
</mule>
